.modal {
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    outline: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &_open {
        display: flex;
    }
}

.modal__overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal__content {
    position: relative;
    width: 450px;
    min-height: 60px;
    padding: 20px;
    background-color: #FFF;
}