.calendar {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar__day {
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-collapse: collapse;
    height: 80px;
    cursor: pointer;
    padding: 8px;
    background-color: #f5fcff;

    &_not-current {
        opacity: .45;
    }

    &_selected {
        background-color: #fff3d7;
        opacity: 1;
    }
}